<!doctype html>
<html lang="en-US" style="opacity:0;">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="maUeZ1eX-wrzAgGR_LKS5RzYpOV944aiFpkeNsq_Fwc" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="Description" content="{{ description }}">
    <base href="/">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&ver=5.2" rel="stylesheet">
    <link href="https://unpkg.com/prismjs@latest/themes/prism-tomorrow.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/bundle.css" />
    <title>{{ title }}</title>
  </head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FBJ80FEYTW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-FBJ80FEYTW');
  </script>
  <body>
