    <footer>
      <a href="/">Hasani Rogers Blog</a> {% include 'partials/header.social.html' %}
    </footer>
    {# <hrb-hamburger></hrb-hamburger> #}
    <hrb-search></hrb-search>
    <script type="module" src="/assets/bundle.js"></script>
    <noscript>This blog requires JavaScript to be enabled!</noscript>
  </body>
</html>
